html {
	background-image:url(../media/Holed.jpg);
 background-size: cover;
}

table
{
  border-collapse: collapse;
  width: 100%;
}

h1
{
 font-family: 'Zilla Slab Highlight', fantasy;
  font-size: 40px;
  color: orange;
  text-align: center;
}

th, td
{
  font-family:Roboto;
  font-size: 16px;
  padding: 9px;
  color: red;
  text-align: center;
   border: 6px solid #acdc00;
}

img
{
  
height: 17%;
width: 17%;
}

.saturn
{
margin: 40px;
}

.neptune
{
	margin 10px;
}

.uranus
{
	margin: 20px;
}

.pluto
{
margin: 30px;
}
